:root {
  --primary-color: rgb(250, 250, 250); /* Zinc 1 */

  --text-color: rgb(24, 24, 27); /* Zinc 10 */
  --text-color-light: rgb(244, 244, 245); /* Zinc 2 */

  --secondary-color: oklch(91.7% 0.08 205.041); /* Cyan 3 */
  --dark-secondary-color: oklch(78.9% 0.154 211.53); /* Cyan 5 */

  --tool-box-bg: rgb(228, 228, 231); /* Zinc 3 */
}

/* Global Styles */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* (10/16)*100 = 62.5% -> 10px */
}

body {
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
  color: var(--text-color);
  background-color: var(--primary-color);
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

.heading-tertiary {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

/* Canvas */

.canvas-container {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.canvas-board {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  touch-action: none;
}

/* Tool Box */

.tool-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: var(--tool-box-bg);
  padding: 1rem;
  border-radius: 0 0 0.5rem 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 20rem;
  height: 30rem;
}

.tool-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tool-button {
  padding: 0.2rem 0.5rem;
  background-color: var(--secondary-color);
  border: 1px solid var(--text-color);
}
.tool-button.active {
  background-color: var(--dark-secondary-color);
}
