:root {
  --text-color: #333333;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* (10/16)*100 = 62.5% -> 10px */
}

body {
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
  color: var(--text-color);
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

.canvas-board {
  display: block;
  height: 100%;
  width: 100%;
  cursor: crosshair;
  touch-action: none;
}
